<!doctype html>
<html lang="en">
<!-- EJS -->
    <head>

    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>Personal Website</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/media-queries.css">

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/ico/pcb.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">

       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
       <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen"/>
       <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen"/>
       <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    </head>

    <body>

        <!-- Top menu -->
        <nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
          <div class="container">
            <a class="navbar-brand" href="/">Personal Website</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button> 
          </div>
        </nav>

        <!-- About us -->
        <div class="about-container section-container section-container-gray-bg">
          <div class="container">
              <div class="row">
                <div class="col-12 col-lg-7 about-us-box wow fadeInLeft">
                      <div class="about-us-box-text" style="text-align: left;">
                        <h2>Complete Vim Reference Guide</h2>
                        <h4>Created: 9/13/2019
                            Updated: 9/14/2019 
                        </h4>
                        <h5> Vim Basics: Navigation </h5>
                        <pre class="prettyprint">
                             G or ]]     "Jump to the last line"
                        </pre>
                        <pre class="prettyprint">
                             gg or [[   "Jump to the first line"
                        </pre>
                        <p>
                            G and gg are useful for navigating throughout a file. Esepcially useful for looking at headers or adding new functions
                        </p>
                        <pre class="prettyprint">
                             $   "Jump to the end of the line"
                        </pre>
                        <pre class="prettyprint">
                             0   "Jump to the beginning of the line"
                        </pre>
                        <pre class="prettyprint">
                             ^   "Jump to the first non-blank character in the line"
                        </pre>
                        <p>
                            These commands are useful in navigating within lines. '$' can allow you to make edits to the end of the line and '0' can allow you to make edits to the beginning. '^' is useful when there is lot of identation. Personally, I find a lot more use using '^' than '0'. 
                        </p>
                        <pre class="prettyprint">
                            w or CTRL-RIGHT "Move forward one word"
                        </pre>
                        <pre class="prettyprint">
                            b or CTRL-LEFT "Move back one word"
                        </pre>
                        <p>
                            Another pair of commands that let you navigate within a line. Its more fine grain than moving to the beginning or end of the line.
                        </p>
                        <pre class="prettyprint">
                           H "Jump to the top of the screen"
                        </pre>
                        <pre class="prettyprint">
                            M "Jump to the middle of the screen"
                        </pre>
                        <pre class="prettyprint">
                            L "Jump to the bottom of the screen"
                        </pre>
                        <p>
                            These commands are useful when navigating within a screen. They stand for (H)igh, (M)iddle, and (L)ow. These commands will not cause the screen to scroll. It will only move the cursor to a location on the currently viewable screen 
                        </p>
                        <pre class="prettyprint">
                            CTRL-Y "Scroll up one line"
                        </pre>
                        <pre class="prettyprint">
                            CTRL-E "Scroll down one line"
                        </pre>
                        <p>
                            This pair of commands do not move the cursor. It only moves the screen up or down. Its pretty useful to see the context of the code that you are looking at. 
                        </p>
                        <pre class="prettyprint">
                            CTRL-U "Scroll up half the screen"
                        </pre>
                        <pre class="prettyprint">
                            CTRL-D "Scroll down half the screen" 
                        </pre>
                        <p>
                            These commands allow you to navigate throughout the file. I use these commands a lot when looking throughout the file. 
                        </p>
                        <pre class="prettyprint">
                            CTRL-o "Jump to the previous cursor location"
                        </pre>
                        <pre class="prettyprint">
                            CTRL-i "Jump to the next cursor location"
                        </pre>
                        <p>
                            These commands allow you to jump to lines that you were looking at earlier. 
                        </p>
                        <pre class="prettyprint">
                            { or } "Jump to the previous/next blank line existing"
                        </pre>
                        <p>
                            It allows you to skip chunks of code. Pretty useful.
                        </p>
                        <pre class="prettyprint">
                            /pattern "Search for pattern forward"
                        </pre>
                        <pre class="prettyprint">
                            ?pattern "Search for pattern backward"
                        </pre>
                        <pre class="prettyprint">
                            n or N "Jump to the next/previous pattern found"
                        </pre>
                        <p>
                            Searching for some regex pattern. Extremely useful! Lowercase n jumps to the next occurance. Uppercase N jumps to the previous occurance.
                        </p>
                        <h5>Vim Basics: Editing </h5>
                        <pre class="prettyprint">
                           i "Insert text at current cursor position"
                        </pre>
                        <pre class="prettyprint">
                            I "Insert text at the beginning of the line"
                        </pre>
                        <pre class="prettyprint">
                            A "Append text at end of line"
                        </pre>
                        <pre class="prettyprint">
                            S "Remove the line and enter insert mode"
                        </pre>
                        <pre class="prettyprint">
                            C "Remove the text from the cursor position to the end of the line"
                        </pre>
                        <p>
                            All of these commands will cause you to enter insert mode. Getting an understanding of when to use each command allows you to become a lot more efficient in programming
                        </p>
                        <pre class="prettyprint">
                            O "Open a new line above the current line"
                        </pre>
                        <pre class="prettyprint">
                            o "Open a new line below the current line"
                        </pre>
                        <p>
                            Both of these commands will cause you to enter insert mode.
                        </p>
                      </div>
                  </div>
              </div>
          </div>
        </div>

        <!-- Footer -->
        <footer>
          <div class="container">
            <div class="row">
                    <!-- <div class="col-md-5 footer-left">
                      <p>&copy; Bootstrap 4 One Page Website Tutorial. Download it for free on <a href="http://azmind.com">AZMIND</a>.</p>
                    </div> -->
                    
                    <div class="col-md-6 offset-md-1 footer-right">
                      <a href="https://www.facebook.com/yash.bharatula"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/YashBharatula"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/ybharatu"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="row">
                  <div class="col footer-bottom">
                  <a class="scroll-link" href="#top-content"><i class="fas fa-chevron-up"></i></a>
                </div>
                </div>
          </div>
        </footer>


        <!-- Javascript -->
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="/js/jquery.backstretch.min.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/retina-1.1.0.min.js"></script>
        <script src="/js/waypoints.min.js"></script>
        <script src="/js/scripts.js"></script>

    </body>

</html>
