body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    line-height: 30px;
    text-align: center;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.marginauto {
    margin: 10px auto 20px;
    display: block;
}

strong { font-weight: 600; }

a, a:hover, a:focus { color: #9b59b6; text-decoration: none; transition: all .3s; }

h1, h2 {
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
    font-weight: 300;
    color: white;
    line-height: 50px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
    font-weight: 300;
    /*color: #555;*/
    color: white;
    line-height: 30px;
}


img { max-width: 100%; }

.medium-paragraph {
	font-size: 17px;
	line-height: 32px;
}

.colored-text { color: #9b59b6; }

::-moz-selection { background: #9b59b6; color: #fff; text-shadow: none; }
::selection { background: #9b59b6; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
    background: #444
}

.section-container-gray-bg {
	background: #f8f8f8;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: white;
}

.section-container-image-bg .divider-1 span {
	border-color: #fff;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 0 28px;
	background: #9b59b6;
	background: rgba(155, 89, 182, 0.7);
	border: 0;
	font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active, .btn-link-1:active:focus,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #9b59b6;
	background: rgba(155, 89, 182, 0.9);
	outline: 0;
	color: #fff;
	box-shadow: none;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 0 28px;
	background: #333;
	background: rgba(0, 0, 0, 0.2);
	border: 0;
	font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
}
.btn-link-2:hover, .btn-link-2:focus, .btn-link-2:active, .btn-link-2:active:focus,
.btn-link-2.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-2.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #333; background: rgba(0, 0, 0, 0.4); outline: 0; color: #fff; box-shadow: none;
}

.btn-link-3 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 0 28px;
	background: none;
	border: 0;
	border-bottom: 2px solid #9b59b6;
	font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #9b59b6;
    border-radius: 0;
    transition: all .3s;
}
.btn-link-3:hover, .btn-link-3:focus, .btn-link-3:active, .btn-link-3:active:focus,
.btn-link-3.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-3.btn-primary:not(:disabled):not(.disabled):active:focus {
	padding: 0 10px;
	background: none;
	border: 0;
	border-bottom: 2px solid #9b59b6;
	outline: 0;
	color: #9b59b6;
	box-shadow: none;
}


/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	border-bottom: 1px dashed #ccc;
}


/***** Top menu *****/

.navbar {
	background: #000000;
	/*-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;*/
	backface-visibility: hidden;
	top: 0;
	position: fixed;
	width: 100%;
}
.navbar.navbar-no-bg { background: #000000; background: rgba(0, 0, 0, .2); }

.navbar-dark .navbar-nav { font-size: 15px; color: #fff; font-weight: 600; }
.navbar-dark .navbar-nav .nav-link { color: #fff; color: rgba(255, 255, 255, 0.8); border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #470000; }
.navbar-dark .navbar-nav .nav-link:focus { color: rgba(255,255,255,.8); outline: 0; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }

.navbar-brand {
	width: 100%;
	background: url(../img/yash_logo.png) left center no-repeat;
	border: 0;
	text-indent: -99999px;
}


/***** Top content *****/

.top-content {
    padding: 210px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 {
	margin-top: 25px;
	color: #fff;
}

.top-content .description {
	margin: 30px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .top-big-link {
	margin-top: 45px;
}

/***** Experience *****/
.navbar-custom {
    transition: 0.2s ease
}

.navbar-custom .container {
    background: none
}

.navbar-custom .nav>li>a:focus,.navbar-custom .nav>li>a:hover {
    background: none
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #fff
}

.dark {
    background: #333339
}

.container {
    z-index: -5 !important
}

.branch .konami {
    display: none
}

.commit {
    display: flex;
    align-items: stretch;
    position: relative;
    padding: 0 15px
}

.commit>a {
    flex: 1;
    display: flex
}

.commit p a {
    flex: unset;
    display: unset
}

.commit .node {
    flex: initial;
    display: flex;
    align-items: center;
    width: 150px;
    margin: 0 15px;
    position: relative
}

.commit .node::before {
    content: "";
    border-left: 5px solid #01B0F0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 10
}

.commit .node .content {
    width: auto;
    position: relative;
    left: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 10px solid;
    z-index: 10;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100px;
    overflow: hidden
}

.commit .node .content .fa,.commit .node .content .octicon {
    margin-top: 22px;
    display: inline-block;
    font-size: 36px;
    vertical-align: middle;
    line-height: normal
}

.commit .node .big {
    width: 150px !important;
    height: 150px !important
}

.commit .node .big .fa,.commit .node .big .octicon {
    margin-top: 35px;
    display: inline-block;
    font-size: 60px;
    vertical-align: middle;
    line-height: normal
}

.commit .node .blue-border {
    border-color: #01B0F0
}

.commit .node .blue-bg {
    background: #59d2fe
}

.commit .node .green-border {
    border-color: #89bb00
}

.commit .node .green-bg {
    background: #AEEE00
}

.commit .node .red-border {
    border-color: #FF7800
}

.commit .node .red-bg {
    background: #ffae66
}

.commit .node .github {
    border-color: #000;
    background: #333
}

.commit .node .linkedin {
    border-color: #00344f;
    background: #0077b5
}

.commit:first-child .node::before {
    top: 25px
}

.commit:last-child .node::before {
    bottom: 25px
}

.commit .message {
    flex: 1;
    display: flex;
    align-items: center
}

.commit .message-contents {
    flex: 1
}

.commit .message-contents .portfolio {
    padding-left: 0
}

.commit h2,.commit h3,.commit h4 {
    margin: 0
}

.branch {
    position: relative
}

.branch::before,.branch::after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAyCAMAAAD886zOAAAAM1BMVEX/////eAD/eAD/eAD/eAD/eAD/eAD/eAD/eAD/eAD/eAD/eAD/eAD/eAD/eAD/eAD/eAA5T92bAAAAEHRSTlMAECAwQFBgcICQoLDA0ODwVOCoyAAAAQxJREFUeNq111sOhCAMBVDLm0Jp97/aicyEOPrJtQs4ubSi9bCzwgGrl8AIBMcJFiDYTlCAYLazHA70E2RkE9ER0wQbDiSdYkZGRD/cfYLqYaDTr5hgYrBvFXQbrTu0qLCQUX/kQHXSi4FJqrbITJhhj0Uqe0jIonaJ6RAk26UEYbqqf2bxgIMPu9bgSLtmbPZfPe8GpSw3c3DaDOoepkkNu2a/m9rS3ugpsT6DbnbUF3kE5bhnUuSBM1dH233yZfsqhXo7fZtzhwRFvj8psl7J2UzM9YR+3SjJEhW0ygReZCMM6RYpdIDIvkT0R11w69ZvOhUmEr+0ZHYcSC8t/wX9f9KBYJkRgWB4B/wAAyQgMnvf+zYAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    content: "";
    width: 80px;
    height: 50px;
    left: 90px;
    z-index: 1
}

.branch::before {
    top: -25px
}

.branch::after {
    transform: scaleY(-1);
    bottom: -25px
}

.branch .node {
    margin-left: 90px
}

.branch .node::after {
    position: absolute;
    border-left: 5px solid #01B0F0;
    top: 0;
    bottom: 0;
    left: 0;
    content: "";
    z-index: 10
}

.branch .commit:first-child .node::before {
    top: 25px !important
}

.branch .commit:last-child .node::before {
    bottom: 25px !important
}

.branch .node::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 5px solid #FF7800;
    z-index: 9
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -15px
}

.gallery .item {
    flex: 1 1 25%;
    margin: 0 15px;
    /*width: 0;*/
    overflow: hidden
}

.gallery .item a {
    max-width: 100%;
    width: auto;
    height: auto
}

.gallery .item img {
    max-width: 100%;
    width: auto;
    height: auto
}

.links a[href*="github.com"]::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f09b";
    margin-right: 5px
}

.fancybox-nav {
    width: 60px !important
}

.fancybox-nav span {
    visibility: visible !important;
    opacity: 0.5 !important
}

.fancybox-nav:hover span {
    opacity: 1 !important
}

.fancybox-next {
    right: -75px !important
}

.fancybox-prev {
    left: -75px !important
}

.fancybox {
    position: relative
}

.fancybox .fa-play {
    position: absolute;
    font-size: 36px;
    top: 50%;
    left: 50%
}

/*footer p {
    text-align: center;
    margin-bottom: 0
}

body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure {
    margin: 0;
    padding: 0
}

body {
    font: 400 16px/1.5 "Open Sans",sans-serif;
    color: #fff;
    background: url("/assets/img/bg.png");
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    padding-top: 50px
}

.container {
    background: rgba(44,62,80,0.7)
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,dl,figure,.highlight {
    margin-bottom: 15px
}

img {
    max-width: 100%;
    vertical-align: middle
}

figure>img {
    display: block
}

figcaption {
    font-size: 14px
}

ul,ol {
    margin-left: 30px
}

li>ul,li>ol {
    margin-bottom: 0
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

a {
    text-decoration: none;
    color: #fff
}

a:visited {
    color: #fff;
    text-decoration: none
}

a:hover,a:focus {
    color: #fff;
    text-decoration: none
}

blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic
}

blockquote>:last-child {
    margin-bottom: 0
}

pre,code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef
}

code {
    padding: 1px 5px
}

pre {
    padding: 8px 12px;
    overflow-x: auto
}

pre>code {
    border: 0;
    padding-right: 0;
    padding-left: 0
}*/

.icon>svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.icon>svg path {
    fill: #828282
}

.strike {
    text-decoration: line-through
}

.highlight {
    background: #fff
}

.highlighter-rouge .highlight {
    background: #eef
}

.highlight .c {
    color: #998;
    font-style: italic
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.highlight .k {
    font-weight: bold
}

.highlight .o {
    font-weight: bold
}

.highlight .cm {
    color: #998;
    font-style: italic
}

.highlight .cp {
    color: #999;
    font-weight: bold
}

.highlight .c1 {
    color: #998;
    font-style: italic
}

.highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic
}

.highlight .gd {
    color: #000;
    background-color: #fdd
}

.highlight .gd .x {
    color: #000;
    background-color: #faa
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #a00
}

.highlight .gh {
    color: #999
}

.highlight .gi {
    color: #000;
    background-color: #dfd
}

.highlight .gi .x {
    color: #000;
    background-color: #afa
}

.highlight .go {
    color: #888
}

.highlight .gp {
    color: #555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #aaa
}

.highlight .gt {
    color: #a00
}

.highlight .kc {
    font-weight: bold
}

.highlight .kd {
    font-weight: bold
}

.highlight .kp {
    font-weight: bold
}

.highlight .kr {
    font-weight: bold
}

.highlight .kt {
    color: #458;
    font-weight: bold
}

.highlight .m {
    color: #099
}

.highlight .s {
    color: #d14
}

.highlight .na {
    color: teal
}

.highlight .nb {
    color: #0086B3
}

.highlight .nc {
    color: #458;
    font-weight: bold
}

.highlight .no {
    color: teal
}

.highlight .ni {
    color: purple
}

.highlight .ne {
    color: #900;
    font-weight: bold
}

.highlight .nf {
    color: #900;
    font-weight: bold
}

.highlight .nn {
    color: #555
}

.highlight .nt {
    color: navy
}

.highlight .nv {
    color: teal
}

.highlight .ow {
    font-weight: bold
}

.highlight .w {
    color: #bbb
}

.highlight .mf {
    color: #099
}

.highlight .mh {
    color: #099
}

.highlight .mi {
    color: #099
}

.highlight .mo {
    color: #099
}

.highlight .sb {
    color: #d14
}

.highlight .sc {
    color: #d14
}

.highlight .sd {
    color: #d14
}

.highlight .s2 {
    color: #d14
}

.highlight .se {
    color: #d14
}

.highlight .sh {
    color: #d14
}

.highlight .si {
    color: #d14
}

.highlight .sx {
    color: #d14
}

.highlight .sr {
    color: #009926
}

.highlight .s1 {
    color: #d14
}

.highlight .ss {
    color: #990073
}

.highlight .bp {
    color: #999
}

.highlight .vc {
    color: teal
}

.highlight .vg {
    color: teal
}

.highlight .vi {
    color: teal
}

.highlight .il {
    color: #099
}

/***** Services *****/

.services-box {
	padding-top: 30px;
	text-align: left;
}

.services-box .services-box-icon {
	width: 80px;
	height: 80px;
	margin: 0 auto;
    font-size: 40px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    border-radius: 28px;
    
    background: #9b59b6; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb24b 0%, #9b59b6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb24b), color-stop(100%,#9b59b6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb24b 0%,#9b59b6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#9b59b6',GradientType=0 ); /* IE6-9 */
}

.services-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}


/***** About us *****/

.about-us-box {
	margin-top: 100px;
}

.about-us-box-text {
	padding-right: 30px;
	text-align: left;
}

.about-us-box-text h3 {
	margin-top: 0;
}

.about-us-box-text .medium-paragraph {
	margin-top: 20px;
	margin-bottom: 20px;
}

.about-us-box-text a { border-bottom: 1px dashed #9b59b6; }
.about-us-box-text a:hover, .about-us-box-text a:focus { border: 0; }

.about-me-box-img img {
	margin-top: 80px;
	border-radius: 4px;
}


/***** More services *****/

.more-services-box {
	margin-top: 30px;
	text-align: left;
}

.more-services-box .more-services-box-icon {
	width: 60px;
	height: 60px;
	margin: 0 auto;
    font-size: 28px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    border-radius: 22px;
    
    background: #9b59b6; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb24b 0%, #9b59b6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb24b), color-stop(100%,#9b59b6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb24b 0%,#9b59b6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#9b59b6',GradientType=0 ); /* IE6-9 */
}

.more-services-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}


/***** Call to action *****/

.call-to-action-container .section-bottom-button {
	padding-top: 30px;
}


/***** Portfolio *****/

.portfolio-box {
	padding-top: 30px;
	text-align: left;
	/*display: none*/
}

.portfolio-box-image {
	overflow: hidden;
	border-radius: 4px;
/*	height: 300px;
	width: 300px;*/
}

.portfolio-box-image img {
	-o-transition: all .8s; -moz-transition: all .8s; -webkit-transition: all .8s; -ms-transition: all .8s; transition: all .8s;
}

.portfolio-box-image:hover img {
	-o-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-transform: scale(1.25); -ms-transform: scale(1.25); transform: scale(1.25);
}

.portfolio-box h3 {
	margin-top: 30px;
}
.portfolio-box h3 a { color: #FFFFFF; }
.portfolio-box h3 a:hover, .portfolio-box h3 a:focus { color: white; }

.portfolio-box h3 i {
	padding-left: 10px;
	color: white;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.portfolio-box h3:hover i { padding-left: 15px; }

.portfolio-box-date {
	padding-bottom: 10px;
	font-size: 14px;
	color: #aaa;
	text-transform: uppercase;
}

.portfolio-box-date i {
	padding-right: 5px;
	color: #ddd;
}

.portfolio-container .section-bottom-button {
	/*padding-top: 40px;*/
}


/***** Testimonials *****/

.testimonials-container {
	padding-bottom: 70px;
}

.testimonial-list {
    margin-top: 30px;
    text-align: center;
}

.testimonial-list .testimonial-image img {
	max-width: 160px;
	border-radius: 4px;
}

.testimonial-list .testimonial-text {
	margin-top: 30px;
	opacity: 0.8;
}

.testimonial-list .testimonial-text a {
	color: #fff;
	border-bottom: 1px dashed #fff;
}
.testimonial-list .testimonial-text a:hover, 
.testimonial-list .testimonial-text a:focus { color: #fff; border: 0; }

.testimonial-list .nav-tabs {
	margin-top: 45px;
    border: 0;
    justify-content: center;
}

.testimonial-list .nav-tabs li {
	margin-left: 10px;
    margin-right: 10px;
}

.testimonial-list .nav-tabs li a {
    width: 16px;
    height: 16px;
    padding: 0;
    background: none;
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.8);
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.testimonial-list .nav-tabs li a:hover,
.testimonial-list .nav-tabs li a:focus {
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.8);
}

.testimonial-list .nav-tabs li a.active,
.testimonial-list .nav-tabs li a.active:focus {
	background: #9b59b6; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb24b 0%, #9b59b6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb24b), color-stop(100%,#9b59b6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb24b 0%,#9b59b6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#9b59b6',GradientType=0 ); /* IE6-9 */
	
	border: 0;
}


/***** Blog *****/

pre {
  background-color: #eee;
  /*border: 1px solid #999;*/
  display: block;
  padding: 10px;
  text-align: left;
  white-space: pre-line;
};

.blog-box {
	margin-top: 30px;
	text-align: left;
}

.blog-box-image {
	margin-top: 8px;
	overflow: hidden;
	border-radius: 4px;
}

.blog-box-image img {
	-o-transition: all .8s; -moz-transition: all .8s; -webkit-transition: all .8s; -ms-transition: all .8s; transition: all .8s;
}

.blog-box-image:hover img {
	-o-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-transform: scale(1.25); -ms-transform: scale(1.25); transform: scale(1.25);
}

.blog-box h3 {
	margin-top: 0;
}
.blog-box h3 a { color: white; }
.blog-box h3 a:hover, .blog-box h3 a:focus { color: white; }

.blog-box h3 i {
	padding-left: 10px;
	color: white;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.blog-box h3:hover i { padding-left: 15px; }

.blog-box-date {
	padding-bottom: 10px;
	font-size: 14px;
	color: #aaa;
	text-transform: uppercase;
}

.blog-box-date i {
	padding-right: 5px;
	color: #ddd;
}

.blog-container .section-bottom-button {
	padding-top: 40px;
}


/***** Footer *****/

footer {
	padding: 40px 0 0 0;
	background: #444;
	color: #aaa;
	text-align: left;
}

.footer-left a { color: #ddd; border-bottom: 1px dashed #ddd; }
.footer-left a:hover, .footer-left a:focus { color: #ddd; border: 0; }

.footer-right {
	text-align: right;
}

.footer-right a {
	margin: 0 6px;
    font-size: 32px;
    color: #aaa;
}
.footer-right a:hover, .footer-right a:focus { color: #eee; }

.footer-bottom {
	padding-bottom: 25px;
	text-align: center;
}

.footer-bottom a {
	font-size: 32px;
    color: #666;
    line-height: 40px;
}

.footer-bottom a:hover, .footer-bottom a:focus { color: #888; }

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.tile2_player {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.tile2_comp {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.tile.janken_rock {
    background-image:url('/img/fun/janken_step.jpeg');
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.janken_container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    max-width: 300px;
}
